 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/9908d58da379615583c5ee962e10338a4a4070e2c670db132eb14b937f3f5ff5250de7acd13b1d273e69aaaaa645b679f7cd39bfa9b8bc07b0fc8f_1280.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 549px;
}

.u-section-1 .u-image-1 {
  width: 223px;
  height: 39px;
  margin: 47px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 13px 0 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-image-1 {
    width: 159px;
    height: 35px;
    margin-top: 48px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-1 .u-image-1 {
    width: 132px;
    height: 29px;
    margin-top: 47px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 848px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 631px 0 27px;
}

.u-section-2 .u-text-2 {
  margin: -98px 27px 0 794px;
}

.u-section-2 .u-products-1 {
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 493px;
  grid-gap: 0px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  height: 359px;
  width: 349px;
  margin: 0 0 0 31px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 27px auto 0;
}

.u-section-2 .u-repeater-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  height: 359px;
  width: 349px;
  margin: 0 0 0 31px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 27px auto 0;
}

.u-section-2 .u-repeater-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-3 {
  height: 359px;
  width: 349px;
  margin: 0 0 0 31px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 27px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.25rem;
  margin: 21px auto 60px;
  padding: 10px 62px 10px 61px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 458px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 621px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 407px;
  }

  .u-section-2 .u-image-1 {
    width: 250px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 3px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-image-2 {
    width: 250px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 3px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-image-3 {
    width: 250px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 3px;
    margin-left: 21px;
    margin-right: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 238px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -93px;
    margin-left: 401px;
  }

  .u-section-2 .u-products-1 {
    margin-top: 29px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 353px;
    grid-gap: 0px 0px;
  }

  .u-section-2 .u-image-1 {
    height: 220px;
    width: 200px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 220px;
    width: 200px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 220px;
    width: 200px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 40px;
    margin-right: 309px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -66px;
    margin-left: 250px;
  }

  .u-section-2 .u-products-1 {
    margin-top: 19px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 255px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-2 .u-image-1 {
    height: 155px;
    width: 150px;
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-top: 19px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-2 .u-image-2 {
    height: 155px;
    width: 150px;
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-top: 19px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-2 .u-image-3 {
    height: 155px;
    width: 150px;
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-top: 19px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 15px;
    margin-bottom: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 50px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-2 .u-products-1 {
    margin-top: 29px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 207px;
  }

  .u-section-2 .u-image-1 {
    height: 112px;
    width: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 112px;
    width: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 112px;
    width: 100px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 29px;
    margin-bottom: 60px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 354px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 65px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 100px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-3 {
    width: 680px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    font-size: 1rem;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 470px;
}

.u-section-4 .u-text-1 {
  font-weight: normal;
  margin: 45px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  background-image: none;
  margin: 68px auto 0 74px;
  padding: 10px 57px 10px 56px;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  background-image: none;
  margin: -52px auto 0;
  padding: 10px 52px;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  background-image: none;
  margin: -52px 68px 0 auto;
  padding: 10px 84px;
}

.u-section-4 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  background-image: none;
  margin: 45px auto 0 74px;
  padding: 10px 52px;
}

.u-section-4 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  background-image: none;
  margin: -52px auto 0;
  padding: 10px 89px;
}

.u-section-4 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  background-image: none;
  margin: -52px 68px 0 auto;
  padding: 10px 55px 10px 54px;
}

.u-section-4 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  background-image: none;
  margin: 49px auto 60px;
  padding: 10px 89px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    font-weight: 700;
    font-size: 2.25rem;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-btn-1 {
    padding-right: 30px;
    padding-left: 29px;
  }

  .u-section-4 .u-btn-2 {
    padding-right: 19px;
    padding-left: 18px;
  }

  .u-section-4 .u-btn-3 {
    padding-left: 54px;
    padding-right: 54px;
  }

  .u-section-4 .u-btn-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-btn-5 {
    padding-right: 56px;
    padding-left: 55px;
  }

  .u-section-4 .u-btn-6 {
    padding-right: 25px;
    padding-left: 24px;
  }

  .u-section-4 .u-btn-7 {
    padding-right: 25px;
    padding-left: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 39px;
    margin-right: 390px;
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-4 .u-btn-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: -51px;
    padding-right: 42px;
    padding-left: 41px;
  }

  .u-section-4 .u-btn-4 {
    margin-top: 44px;
    padding-right: 13px;
    padding-left: 12px;
  }

  .u-section-4 .u-btn-5 {
    padding-left: 43px;
    padding-right: 43px;
  }

  .u-section-4 .u-btn-6 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-4 .u-btn-7 {
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 467px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 190px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: -50px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 34px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-btn-4 {
    margin-top: -52px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-btn-5 {
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-7 {
    margin-top: 34px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-align: center;
  width: 486px;
  margin: 47px auto 0;
}

.u-section-5 .u-text-2 {
  text-align: center;
  width: 515px;
  margin: 0 auto;
}

.u-section-5 .u-countdown-1 {
  margin: 38px auto 0;
}

.u-section-5 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-5 .u-countdown-counter-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-5 .u-countdown-label-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-5 .u-countdown-separator-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-5 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-5 .u-countdown-counter-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-5 .u-countdown-label-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-5 .u-countdown-separator-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-5 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-5 .u-countdown-counter-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-5 .u-countdown-label-3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-5 .u-countdown-separator-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-5 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-5 .u-countdown-counter-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-5 .u-countdown-label-4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-5 .u-countdown-separator-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-5 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-5 .u-countdown-counter-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-5 .u-countdown-label-5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-5 .u-countdown-separator-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-5 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-5 .u-countdown-counter-6 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-5 .u-countdown-label-6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  margin: 48px auto 53px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-countdown-1 {
    margin-top: 25px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 47px;
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: 54px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-countdown-1 {
    margin-top: 11px;
    margin-left: -11px;
    margin-right: -11px;
  }

  .u-section-5 .u-countdown-counter-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-countdown-separator-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-countdown-counter-2 {
    font-size: 3rem;
  }

  .u-section-5 .u-countdown-separator-2 {
    font-size: 3rem;
  }

  .u-section-5 .u-countdown-counter-3 {
    font-size: 3rem;
  }

  .u-section-5 .u-countdown-separator-3 {
    font-size: 3rem;
  }

  .u-section-5 .u-countdown-counter-4 {
    font-size: 3rem;
  }

  .u-section-5 .u-countdown-separator-4 {
    font-size: 3rem;
  }

  .u-section-5 .u-countdown-counter-5 {
    font-size: 3rem;
  }

  .u-section-5 .u-countdown-separator-5 {
    font-size: 3rem;
  }

  .u-section-5 .u-countdown-counter-6 {
    font-size: 3rem;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1rem;
    margin-top: 34px;
    margin-bottom: 34px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 228px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-6 .u-image-1 {
  min-height: 148px;
  background-image: url("images/SCANLOGO.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  min-height: 148px;
  background-image: url("images/MINLOGO.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  min-height: 148px;
  background-image: url("images/SHABBYLOG.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  min-height: 148px;
  background-image: url("images/AESTHETICLOG.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  min-height: 148px;
  background-image: url("images/INDUSTRIALLOGO.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-6 .u-image-1 {
    min-height: 122px;
  }

  .u-section-6 .u-image-2 {
    min-height: 122px;
  }

  .u-section-6 .u-image-3 {
    min-height: 122px;
  }

  .u-section-6 .u-image-4 {
    min-height: 122px;
  }

  .u-section-6 .u-image-5 {
    min-height: 122px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-6 .u-image-1 {
    min-height: 195px;
  }

  .u-section-6 .u-image-2 {
    min-height: 195px;
  }

  .u-section-6 .u-image-3 {
    min-height: 195px;
  }

  .u-section-6 .u-image-4 {
    min-height: 195px;
  }

  .u-section-6 .u-image-5 {
    min-height: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    min-height: 146px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 146px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    min-height: 146px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    min-height: 146px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    min-height: 146px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 395px;
    margin: 12px -27px;
  }

  .u-section-6 .u-image-1 {
    min-height: 116px;
  }

  .u-section-6 .u-image-2 {
    min-height: 116px;
  }

  .u-section-6 .u-image-3 {
    min-height: 116px;
  }

  .u-section-6 .u-image-4 {
    min-height: 116px;
  }

  .u-section-6 .u-image-5 {
    min-height: 116px;
  }
}